.movie{
    width: 100%;
    padding: 5px;
    
}

body {
<<<<<<< HEAD
    background-color: rgba(54, 53, 53, 0.753);
    height: 100vh;
=======
    background-color: hsla(162, 83%, 40%, 0.925);
>>>>>>> 27bff4a3ad62252b5ca15b46cb9d260973ae60e5
  }